body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #cccccc;  
}

h1 {
	font-size: 60px;
	line-height: 64px;
	font-weight: bold; 
	color: #fff;
}

h2 {
	font-size: 35px;
	line-height: 39px;
	font-weight: bold;
	color: #fff;
}

h2.shop-about {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}