*{
    outline: 1px solid red;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #cccccc;
}

header, main, footer{
    margin: 0 auto;
}

ul {
    padding: 0;
}

h1 {
	font-size: 60px;
	line-height: 64px;
	font-weight: bold; 
	color: #fff;
}

h2 {
	font-size: 35px;
	line-height: 39px;
	font-weight: bold;
	color: #ffffff;
}

h2.shop-about {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

/*================ header ======================*/

header {
	width: 1151px;
	padding: 0 27px 0 22px;
	font-size: 0;
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 153px;
}

.main-navigation {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 630px;
}

.main-navigation ul {
	list-style: none;
	padding-left: 30px;
}
.main-navigation li {
	display: inline-block;
	vertical-align: bottom;
	font-size: 16px;
	line-height: 24px;
	padding-top: 16px;
	padding-bottom: 23px;
	padding-right: 30.5px;
}

.catalog-hover, .search-hover, .enter-hover, .basket-hover {
	display: none;
}

.login {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 26px;
	width: 268px;
}

.enter, .search, .basket {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
	
	margin-right: 10px;
	
}



/*================= main ===================*/

main {
	width: 1146px;
	padding: 0 27px;
}
.contact {
	float: right;
	width: 267px;
	text-align: right;
	padding-bottom: 230px;
}

p.info {
	display: block;
	margin-top: 0;
}

.circle-first, .circle-second, .circle-third {
	clear: both;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.slider-title-first, .slider-title-second, .slider-title-third {
	width: 710px;
	margin: 0 auto;
	
	clear: both;
	text-align: center;
}

.slider-title-first h1, .slider-title-second h1, .slider-title-third h1 {
	margin: 0;
	padding-top: 27px;
	padding-left: 0px;
	padding-bottom: 25px;
}

.slider-title-first .btn, .slider-title-second .btn, .slider-title-third .btn {
	display: block;
	color: #fff;
	font-size: 32px;
	line-height: 63px;
	text-decoration: none;
	width: 280px;
	height: 66px;
	margin: 0 auto;
}

.slider-title-second, .slider-title-third {
	display: none;
}

.extra {
	font-size: 0;
	padding-top: 40px;
}

.extra-item {
	display: inline-block;
	vertical-align: top;
	width: 546px;
	margin-right: 26px;
	padding-left: 14px;
	padding-top: 15px;
}

.extra-item h2 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	padding: 0;
}

.extra-item p {
	margin: 0;
	font-size: 18px;
	color: #ffffff;
	padding-top: 22px;
	
}

.extra-item .extra-btn {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 45px;
	
}

.extra-item:last-child {
	margin-right: 0;
}

.assortiment {
	padding-top: 40px;
}

.item {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 21.5624px;
	
}

.item:last-child {
	margin-right: 0;
}

.item p {
	margin: 0;
	padding-top: 15px;
	text-align: center;
}

.features {
	font-size: 0;
	margin-top: 30px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.shop-about {
	font-size: 24px;
	line-height: 30px;
	padding-top: 26px;
	margin-bottom: 0;
}

.row {
	display: inline-block;
	vertical-align: top;
	width: 540px;
	margin-right: 26px;
	padding-top: 10px;
}

.row:last-child {
	margin-right: 0;
}

.row li {
	font-size: 16px;
	line-height: 22px;
	list-style: none;
}

.topics {
	font-size: 0;
	margin-top: 40px;
}

.blog, .subscribe {
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}

.blog {
	width: 285px;
	margin-right: 26px;
	padding-bottom: 85px;
	padding-right: 255px;
	padding-left: 20px;
	padding-top: 25px;
}

.blog .new {
	font-size: 16px;
	line-height: 24px;
}

.blog a {
	font-size: 24px;
	line-height: 30px;
}

.subscribe {
	padding-top: 28px;
	padding-bottom: 35px;
	width: 540px;
}

.subscribe p {
	font-size: 16px;
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 37px;
	margin-right: 25px;
}

.subscribe form {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 34px;
}

/*================= map ====================*/

.map {
	position: relative;
	margin-top: 40px;
	height: 430px;
	
}

.address {
	position: absolute;
	left: 870px;
	bottom: 60px;
	width: 275px;
	padding-top: 33px;
	padding-left: 25px;
}

.address p {
	margin: 0;
}

.address .block-bottom {
	margin-top: 20px;
}

.mail-form {
	display: none;
}

/*==================== footer ==================*/

footer {
	width: 1146px;
	padding: 33px 27px  28px  27px;
	font-size: 0;
}

.social, .about, .copyright {
	display: inline-block;
	vertical-align: top;
}

.social {
	width: 293px;
	font-size: 13px;
}

.social a {
	margin-right: 12px;
} 

.about {
	width: 562px;
	font-size: 13px;
	font-size: 0;
	text-align: justify;
}

.about ul {
	display: block;
	margin: 0 auto;
	width: 335px;
}

.about .list-left {
	text-align: left;
}

.about .list-right {
	text-align: right;
}

.about ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
}

.about a {
	color: #ffffff;
}

.copyright {
	width: 291px;
	font-size: 12px;
}

/*================== catalog.html =============*/

.page-head {
	font-size: 0;
	margin: 0;
}

.page-title {
	display: inline-block;
	vertical-align: top;
	width: 586.5px;
	margin-right: 288.07px;
}

.page-title h1 {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 36px;
}

.site-map li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 20px;
	margin-right: 7px;
	color: #fff;
}

.site-map a {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.contact-tel {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	text-align: right;
	padding-bottom: 67px;
}

.contact-tel .info {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.info strong {
	font-size: 22px;
	line-height: 26px;
}

/*============= фишечки всякие =============*/

.parameters {
	font-size: 0;
}

.parameters form {
	width: 880px;
}

form span {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}

.sorting, .price-value, .fat, .filler {
	display: inline-block;
	vertical-align: top;
}

.sorting p {
	margin-top: 0;
}

.fat ul {
	list-style: none;
}

.fat ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.filler ul {
	list-style: none;
}

.filler ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

/*============== мороженки =====================*/

.products {
	font-size: 0;
}

.product-item {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 26px;
}

.product-item:nth-child(4n+0) {
	margin-right: 0;
}

.product-item a {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
}

.product-item span {
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
}

.pages ul {
	list-style: none;
	font-size: 0;
	text-align: right;
}

.pages li {
	display: inline-block;
	vertical-align: top;
}

.pages li a {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

